<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyreach.yinliu">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"> <!--解决访问http问题-->>
        <activity android:name=".Main.platePage"></activity>
        <activity android:name=".Main.userManagePage" />
        <activity android:name=".Main.articlePage" />
        <activity android:name=".Main.Ac_Write" />
        <activity android:name=".Main.minePage" />
        <activity android:name=".Main.messagePage" />
        <activity android:name=".Main.interestPage" />
        <activity android:name=".Main.logonPage" />
        <activity android:name=".Main.loginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.Ac_Test"/>
        <activity android:name=".Main.Main">

        </activity>
    </application>

</manifest>